*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    text-align: center;
}

#foto-perfil{

    border-radius: 50%;
    border: 15px solid #6495ED ;
    width: 250px;
    height: 250px;
}

h1{ 
    border: 28px red ;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

h2{

    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}



#botao-donwload-cv{
    background-color: #1c87c9;
    border: solid #082c42 3px;
    color: white;
    padding: 12px 10px;
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    
    display: flex;
    justify-content: center;
        
}

footer a {
    text-decoration: none;
    text-align: center;
    font-size: 0.80em;
    color:#082c42;
}


footer img {

    height: 50px;
    width: 80px;
}

@media (max-width:767px) {


    ul{
        display: block;
        
       
    }

    nav ul li{
        text-align: center;
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    /* de 0px até 767px */
}

@media (min-width:768px) and (max-width: 992px) {
    /* de 768px até 992px*/
}

@media (min-width:992px) {
    /* acima de 992px */
    /* ... */
}