*{
    
}
body {
   
   color: white;
   background: linear-gradient(to bottom left, rgb(7, 7, 110)  60%, black 50%);
   background-repeat: no-repeat;
   font-family: 'Poppins', sans-serif;
   background-attachment: fixed;
 
}
.home1{
    
    color: #7fff1f;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.foto1 {
    
    border-radius: 60%;
    border: 5px solid #51c6e4;
}

.center {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



h1 {
    color: #d1eeff;
    font-family: 'Poppins', sans-serif;    
    font-weight: bold;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    
    display: flex;
    justify-content: center;
}

footer a {
    
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #5BBE42;
    
}

nav {

    font-family: 'Poppins', sans-serif;
}

nav li {

    border-radius: 50px;
    color: yellow;
    background: #000000;
    padding: 10px 50px;


}
header .download1{

    background-color: red;
}

#curriculo1{

    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    border-radius: 50px;
    background: rgba(30, 9, 218, 0.986);
    height: 500px;
    padding: 15px;
}



@media (max-width:767px) {


    ul{
        display: block;
        
       
    }

    nav ul li{
        text-align: center;
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    /* de 0px até 767px */
}
@media (min-width:768px) and (max-width: 992px) {
    /* de 768px até 992px*/
}
@media (min-width:992px) {
    /* acima de 992px */
    /* ... */
}