body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #5BBE42;
}

nav {

    font-family: 'Poppins', sans-serif;
}

p{

    padding: 30px;
}

h1{

    text-align: center;
}

img {
    
    height: 200px;
    width: 200px;
   }


article{
    
    
    display: flex;
    position: relative;
    justify-content: space-around;
    border: 10px rgb(13, 223, 13);
   
}

.Img1{
    
    text-align: center;
}