section{

    text-align: center;
    background-color: blue;
    border-radius: 7%;
}

#texto-sobre {

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.habilidades {

    text-decoration: none;
}

article{

    text-align: center;
}

.imagens {

    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 50%;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    font-size: 50px;
    color: rgb(8, 8, 8);
}

.titulo-projeto{

    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 15px;
}

.sobre-projeto{

    color: chartreuse;
    font-family: 'Poppins', sans-serif;
}

.descricao-projeto{

    text-align: left;
    color: rgb(87, 127, 189);
    font-family: 'Poppins', sans-serif;
    margin: 15px;
}