header{

    text-align: center;
    font-family: 'Poppins', sans-serif;
}

section h1,h2{

    
    font-size: 40px;
    color:  #6495ED;
    
}

section h4{

    width: 400px;
    margin: auto;
    font-size: 20px;
}

section{

    
    text-align: center;
}


section li{

    width: 150px;
    margin: auto;
    text-align: center;
}



@media (max-width:767px) {
   
   #texto-sobre{

    text-align: center;
    display: flex;
    flex-direction: column;
    font: 0.90em sans-serif;
    height: 100%;
    margin: auto;
   }
   .Habilidades{

    font: 1.5em sans-serif;
    text-align: center;
    list-style: none;

   }

  }
  @media (min-width:768px) and (max-width: 992px) {
      /* de 768px até 992px*/
      body{
        background-color: red;
      }
    
  }
  @media (min-width:992px) {
      /* acima de 992px */
      /* ... */
  }
